/* Saisonpreise Grid */
.saisonpreise-grid {
  display: grid;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.saisonpreise-header {
  display: none;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
}

.saisonpreise-row {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
}

.saisonpreise-row:last-child {
  border-bottom: none;
}

.grid-col {
  display: flex;
  flex-direction: row;
}

.mobile-label {
  display: block;
}

.grid-col--saison {
  text-align: left;
}

.grid-col--zeitraum {
  text-align: left;
}

.grid-col--preis {
  text-align: left;
}

/* Tablet and up */
@media screen and (min-width: 750px) {
  .saisonpreise-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.5rem;

  }
  
  .saisonpreise-row {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.5rem;

  }
  
  .grid-col {
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(var(--color-foreground), 0.1);
  }
  
  .grid-col:last-child {
    border-right: none;
  }
  
  .mobile-label {
    display: none;
  }
  
  .grid-col--saison {
    text-align: left;
    justify-content: flex-start;
  }
  
  .grid-col--zeitraum {
    text-align: center;
  }
  
  .grid-col--preis {
    text-align: right;
    justify-content: flex-end;
  }
}
