@font-face {
     font-family: 'DINOT-BOLD';
     src:url("https://cdn.shopify.com/s/files/1/0767/5215/9056/files/DINOT-Bold.woff?v=1739564476")format("woff");
     /* src:local("DINOT-Bold"), url("{{ 'DINOT-Bold.woff' | asset_url }}") format("woff"); */
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'DINOT-REGULAR';
/*      src:local("DINOT-Regular"), url("{{ 'DINOT-Regular.woff' | asset_url }}") format("woff");*/
     src: url("https://cdn.shopify.com/s/files/1/0767/5215/9056/files/DINOT-Regular.woff?v=1739565693")format("woff");

     /* src: url("{{ 'DINOT-Regular.woff' | asset_url }}") format("woff"); */
     font-weight: normal;
     font-style: normal;
 }