@font-face {
     font-family: 'DINOT-BOLD';
     src: url("{{ 'DINOT-Bold.woff' | asset_url }}") format("woff");
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'DINOT-REGULAR';
     src: url("{{ 'DINOT-Regular.woff' | asset_url }}") format("woff");
     font-weight: normal;
     font-style: normal;
 }